page-home {

  .slider {
    width: 600px;
    height: 150px;
  }

  .category {
    width: 200px;
    height: 200px;
  }

  // p {
  //   position: absolute;
  //   top: 8px;
  //   left: 16px;
  //   font-size: 12px;
  // }


  img {
    width: 200px;
    height: 150px;
  }


}
